<?xml version="1.0"?>
<ruleset name="BladeFxApiClient Coding Standard">
    <rule ref="PSR12"/>

    <!-- Override sniff definition-->
    <rule ref="Generic.Files.LineLength">
        <properties>
            <property name="lineLimit" value="180"/>
            <property name="absoluteLineLimit" value="0"/>
        </properties>
    </rule>

    <!-- Directories to scan -->
    <file>src</file>

    <!-- Report formatting -->
    <arg name="report" value="full"/>
    <arg name="report-width" value="180"/>

    <!-- Excluded vendor directory and js files-->
    <exclude-pattern>vendor/*</exclude-pattern>
</ruleset>
